@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 65px;
  color: black;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}
h4 {
  font-size: 20px;
  color: black;
}
h6 {
  font-size: 12px;
  font-weight: 700;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.sections-p1 {
  padding: 40px 80px;
}
.section-m1 {
  padding: 40px 0;
}
body {
  width: 100%;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}
button.banar {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.3s ease;
}
/***** header *****/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #f3f6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  z-index: 999;
  position: sticky;
  top: 0;
}
.img {
  width: 200px;
  height: 45px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: all ease 0.2s;
}
.navbar li a:hover,
.navbar li a.active {
  color: rgb(18, 175, 175);
}
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(18, 175, 175);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
}
#close {
  display: none;
}
/***** End header *****/
/***** Home *****/
#hero {
  background-image: url("./img/Untitled.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: rgb(18, 175, 175);
}
#hero p {
  color: rgb(18, 175, 175);
}
#hero button {
  background-image: url("/img/brshs.png");
  background: transparent;
  padding: 15px 30px;
  color: rgb(18, 175, 175);
  border: 2px solid #dcc3ac;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#future {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#future .fa-boxs {
  width: 180px;
  text-align: center;
  background: white;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin: 15px 0;
}
#future .fa-boxs:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
}
#future .fa-boxs h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#future .fa-boxs img {
  width: 100%;
  margin-bottom: 8px;
}
/***** End Home *****/
#fututeProduct {
  text-align: center;
}
#fututeProduct .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#fututeProduct .proProduct {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
  margin: 15px 0;
  position: relative;
}
#fututeProduct .proProduct:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}
#fututeProduct .proProduct img {
  width: 100%;
  border-radius: 4px;
}
#fututeProduct .proProduct .des {
  text-align: start;
  padding: 10px 0;
}
#fututeProduct .proProduct .des span {
  color: #606063;
}
#fututeProduct .proProduct .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#fututeProduct .proProduct .des i {
  font-size: 12px;
  color: rgb(243, 101, 25);
}
#fututeProduct .proProduct .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#fututeProduct .proProduct .card {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: #e8f6ea;
  font-weight: 600;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/Untitwwled.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: white;
  font-size: 16px;
}
#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: rgb(199, 14, 14);
}
#banner button:hover {
  background: #088178;
  color: white;
}
#sm-banar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banarImg2 {
  background-image: url("/img/banar.jpg");
}
.banarImg1 {
  background-image: url("/img/banar2.jpg");
}
#sm-banar .banarBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

  min-width: 49%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#sm-banar h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banar h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banar span {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 18px;
}
#sm-banar button:hover {
  background: #088178;
  border: 1px solid #07bbaf;
}
#banar3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banar3 .banarBox3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/img/banar3.jpg");
  padding: 20px;
  min-width: 32%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

#banar3 .bg-image2 {
  background-image: url("/img/banar4.jpg");
}
#banar3 .bg-image4 {
  background-image: url("/img/banar5.jpg");
}
#banar3 h2 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
#banar3 h3 {
  font-size: 12px;
  color: rgb(255, 51, 0);
}
#signUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #03193a;
}
#signUp h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#signUp p {
  font-size: 14px;
  font-weight: 400;
  color: #818ea0;
}
#signUp span {
  color: #ffbd37;
}
#signUp .signFrom {
  display: flex;
  width: 45%;
}
#signUp input {
  height: 3.12rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#signUp button {
  background: #08887f;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 20px;
}
#footer .logo {
  width: 50%;
  margin-bottom: 20px;
}
#footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
#footer p {
  font-size: 13px;
  padding: 0 0 8px 0;
  margin: 0;
}
#footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  padding-bottom: 10px;
}
#footer .fllow {
  margin-top: 20px;
}
#footer .fllow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
#footer {
  padding-top: 90px;
}
#footer .fllow i:hover,
#footer a:hover {
  color: #088178;
}
#footer .copyright {
  text-align: center;
  width: 100%;
}
/***** shop *****/

#pageHeader {
  background-image: url("https://media.istockphoto.com/id/1203642900/photo/beautiful-asian-woman-shopping-online-with-mobile-phone-on-banner-background.jpg?s=170667a&w=0&k=20&c=i_eNt1zRTic-bDjnRqJOFwwQKwSPLSEIR8XGNyxDWnU=");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#pageHeader h2 {
  color: white;
}
#pageHeader p {
  color: white;
}
#pasination {
  text-align: center;
}

#pasination a {
  text-decoration: none;
  background-color: #07a79c;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pasination a i {
  font-size: 16px;
  font-weight: 600;
}

/***** End shop *****/
/***** single product *****/
#prodetls .single-proImage {
  width: 40%;
  margin-right: 50px;
}
.smalImage {
  display: flex;
  justify-content: space-between;
}
.sImageCol {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetls {
  display: flex;
  margin-top: 20px;
}
#prodetls .singleProD {
  width: 50%;
  padding-top: 30px;
}
#prodetls .singleProD h4 {
  padding: 40px 0 20px 0;
}
#prodetls .singleProD h2 {
  font-size: 26px;
}

#prodetls .singleProD select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
}
#prodetls .singleProD input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}
#prodetls .singleProD button {
  background: #07a79c;
  color: #fff;
}
#prodetls .singleProD p {
  line-height: 25px;
}
/***** blog *****/

#blogpageHeader {
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#blogpageHeader h2 {
  color: white;
}
#blogpageHeader p {
  color: white;
}
#blogpageHeader {
  text-align: center;
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blogBox {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 90px;
}
#blog .blog-image {
  width: 50%;
  margin-right: 14px;
}
#blog img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
#blog .blog-desc {
  width: 50%;
  margin-left: 14px;
}
#blog .blog-desc a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s ease;
}
#blog .blog-desc a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 6px;
  right: -55px;
}
#blog .blog-desc a:hover {
  color: #07a79c;
}
#blog .blog-desc a:hover:after {
  background-color: #07a79c;
}
#blog .blogBox h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 78px;
  font-weight: 700;
  color: #c9cbca;
  z-index: -9;
}
/***** End blog *****/
/***** End single product *****/

/***** About Section *****/
#about {
  background-image: url("https://thumbs.dreamstime.com/b/tree-grow-up-book-light-shining-as-getting-knowledge-black-background-concept-opening-paper-will-see-world-99985550.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#about h2 {
  color: white;
}
#about p {
  color: white;
}
#aboutHead {
  display: flex;
  align-items: center;
}
#aboutHead img {
  width: 50%;
  height: auto;
}
#aboutApp {
  text-align: center;
}
#aboutApp img {
  width: 100%;
}
/***** End About Section *****/

/***** Media Query *****/

@media (max-width: 799px) {
  .sections-p1 {
    padding: 40px 40px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0px 10px;
    transition: 0.3s ease;
  }
  .navbar.active {
    right: 0px;
  }
  .navbar li {
    margin-bottom: 20px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding: 11px;
  }
  #close {
    display: flex;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #sh {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #future {
    justify-content: center;
  }
  #future .fa-boxs {
    margin: 15px 15px;
  }
  #fututeProduct .pro-container {
    justify-content: center;
  }
  #fututeProduct .proProduct {
    margin: 15px;
  }
  #banner {
    height: 40vh;
  }
  #sm-banar .banarBox {
    min-width: 100%;
    height: 30vh;
  }
  #banar3 {
    padding: 0 40px;
  }
  #banar3 .banarBox3 {
    width: 28%;
  }
  #signUp .signFrom {
    display: flex;
    width: 70%;
  }
  #sm-banar .banarBox {
    margin-top: 20px;
  }
}
@media (max-width: 477px) {
  .sections-p1 {
    padding: 20px;
  }
  .header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #future {
    justify-content: space-between;
  }
  #future .fa-boxs {
    width: 154px;
    margin: 0px 0px 20px 0;
  }
  #fututeProduct .proProduct {
    width: 100%;
  }
  #sm-banar .banarBox {
    margin-top: 20px;
  }
  #banar3 {
    padding: 0 20px;
  }
  #banar3 .banarBox3 {
    width: 100%;
  }
  footer .install img {
    width: 60%;
  }
  footer .row img {
    width: 70px;
  }
  #signUp .signFrom {
    width: 100%;
  }
  #footer p {
    font-size: 11px;
  }
  #prodetls {
    display: flex;
    flex-direction: column;
  }
  #prodetls .single-proImage {
    width: 100%;
    margin-right: 0px;
  }
  #prodetls .singleProD {
    width: 100%;
    padding-top: 30px;
  }
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blogBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  #blog .blog-desc {
    width: 100%;
    margin-left: 0px;
  }
}

/***** End Media Query *****/
